<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tic Tac Toe</title>
</head>
<body>
    <h2>Tic Tac Toe</h2>
    <table>
        <!--/*@thymesVar id="playField" type="java"*/-->
        <tr th:each="row: ${playField}">
            <td th:each="value: ${row}" th:text="${value}"/>
        </tr>
    </table>

    <form action="/playingGame">
        <fieldset>
            <!--/*@thymesVar id="exceptionMessage" type="java"*/-->
            <h5 th:text="${exceptionMessage}"></h5>
            <h5>Choose a row</h5>
            <input type="text" name="row"/>
            <h5>Choose a column</h5>
            <input type="text" name="column"/>
            <input type="submit" value="Submit"/>
        </fieldset>
    </form>

</body>
</html>